@bg-blue: #81b3d2;
@bg-grey: #f2f2f2;
@outline: 1px solid red;
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
