.feedback {
  padding: 0 20px;
  text-align: left;
  outline: @outline;
}

.feedback__item {
outline: @outline;
}

.feedback__title {
  margin-bottom: 26px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.feedback__caption {
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  line-height: 26px;
  text-transform: uppercase;

  &--contacts {
    margin-right: 0;
    margin-left: 22px;
  }
}

.feedback__field {
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
  background-color: @bg-grey;
}

.feedback__radio-field {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
}

.feedback__check-field {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
}

.feedback__text-field {
  padding: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
  resize: none;
  background-color: @bg-grey;
  border: none;
}

.feedback__btn {
  width: 100%;
  padding: 20px 47px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: @bg-blue;
  border: none;
  cursor: pointer;
}
