.page-footer {
  padding: 40px 0 24px 0;
  outline: @outline;
}

.page-footer__social {
  margin-bottom: 40px;
  outline: @outline;

  a {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
  }
}

.page-footer__social-list {
  margin-bottom: 40px;
}

.page-footer__social-item {
  display: inline-block;
  vertical-align: middle;
  background-color: @bg-blue;
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__copyright {
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
  outline: @outline;

  a {
    vertical-align: top;
  }
}
