.page-title {
  position: relative;
  margin-bottom: 18px;
  border-bottom: 1px solid #e5e5e5;
}

.page-title__picture {
  padding: 45px 0 111px 0;
  margin-bottom: 40px;
  background-image: url(../img/text-sedona.svg), url("../img/bg-intro-triangle-mobile.svg"), url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 43%,bottom, 50% 100%;
  background-size: 71%,100%, auto;
}

.page-title__title {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}

.page-title__name {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.page-title__text {
  padding: 0 6px 16px 24px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@media @tablet-widths {

  .page-title {
    margin-bottom: 40px;
    border-bottom: none;
  }


  .page-title__picture {
    min-height: 290px;
    margin-bottom: 64px;
    padding-bottom: 0;
    background-image: url(../img/text-sedona.svg), url(../img/bg-intro-triangle-mobile.svg), url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 51%,bottom, 50% 100%;
    background-size: 60%,101%, 137%;
  }

  .page-title__name {
    margin-bottom: 31px;
    font-size: 30px;
    line-height: 26px;
  }

  .page-title__text {
    padding:0 150px 30px 150px;
    line-height: 24px;
    text-transform: uppercase;
  }

}

@media @desktop-widths {

  .page-title {
    margin-bottom: 44px;
  }


  .page-title__picture {
    margin-bottom: 112px;
    background-image: url(../img/text-sedona.svg), url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 54%, 50% 100%;
    background-size: 38%, cover;
  }

    .page-title__text {
    padding: 0 360px 10px;
  }
}
