.presentation {
  padding-top: 7px;
  padding-bottom: 39px;
  text-transform: uppercase;
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 27px;
}

.presentation__text {
  padding: 0 25px;
  margin-bottom: 35px;
  line-height: 24px;
  color: #333333;
}

.presentation__video {
  display: block;
  position: relative;
}

@media @tablet-widths {

  .presentation {
    margin-bottom: 38px;
    padding: 0 60px;
    padding-top: 66px;
  }

  .presentation__title {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .presentation__text {
    margin-bottom: 81px;
    padding: 0 115px;
  }

  .presentation__screen-preview {
    min-height: 448px;
  }
}

@media @desktop-widths {

  .presentation {
    margin-bottom: 26px;
    padding: 66px 200px 60px;
  }

  .presentation__title {
    margin-bottom: 32px;
  }

  .presentation__text {
    margin-bottom: 71px;
    padding: 0 175px;
  }

  .presentation__screen-preview {
    min-height: 460px;
  }
}
