.promo {
  position: relative;
  z-index: 3;
  padding-top: 389px;
  background: #fff url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0%;
  outline: @outline;
}

.promo__title {
  margin-bottom: 0;
  padding: 23px 27px;
  background-color: #fff;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
}

.promo__text {
  margin: 0;
  padding: 8px;
  padding-bottom: 24px;
  background-color: #fff;
  line-height: 26px;
  text-transform: uppercase;
}

@media @tablet-widths {

  .promo {
    background-size: cover;
    padding-top: 518px;
  }
}
